<h1>this is the tweets index</h1>


<div class="form-group">
  <label class="col-md-4 control-label" for="artistName">Search Women's March Tweets</label>
  <div class="submit-field">
    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
  </div>
</div>

<button id="singlebutton" name="singlebutton" type="button">Search</button>

<div id='tweets'></div>
