
$(document).ready(function() {
  console.log('app.js loaded!');

  var client = algoliasearch("<%= ENV['APPLICATION_ID'] %>", "<%= ENV['SEARCH_ONLY_API_KEY'] %>");
  var index = client.initIndex('Tweet');

  autocomplete('#aa-search-input',
    { hint: false }, {
      source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
      displayKey: 'tweet',
      templates: {

        suggestion: function(suggestion) {

          var tweetText = suggestion.text

          if (tweetText.indexOf('https://t.co/') >= 0 ) {

            var tweetTextIndexImage = tweetText.indexOf('https://t.co/');
            var imageHtml = tweetText.slice(tweetTextIndexImage, -1);
            var tweetHtml =
              '  <div class="tweet">' +
              '  <a href='+ imageHtml + '"/>' + imageHtml + '</a>' +
              '    <h5>' + tweetText + '</h5>' +
              '  </div>'

          } else {
            var tweetHtml =
              '  <div class="tweet">' +
              '    <h5>' + tweetText + '</h5>' +
              '  </div>'
          };

          $('#tweets').prepend(tweetHtml);
        }

      }
    }
  );


  $(window).scroll(function() {

    var windowScrollPosition = $(window).scrollTop();
    var marginTopValue = 400 - (windowScrollPosition / 2)
    var marginTopString = marginTopValue + 'px'

    if (windowScrollPosition < 470){
      $('.form-group').css('margin-top', marginTopString);
      $('.march_image').css('height', marginTopString);
    } else {
      $('.form-group').css('margin-top', '167px');
      $('.march_image').css('height', '167px');
    }

  });


});
