/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h5 {
  margin: 0;
}


.march_image {
  background-image: url('http://imgur.com/xlgDJrY.jpg');
  background-repeat: no-repeat;
  background-attachment:fixed;
  height: 400px;
}

.march_image h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
  text-transform: capitalize;
  padding-top: 1em;
  margin-left: 7em;
}

.march_image h5 {
  font-size: 11px;
  color: #fff;
  text-transform: capitalize;
  padding-top: 5px;
  margin-left: 45em;
}

.form-group {
  background-color: #eee;
  padding: 1em;
}

#tweets {
  height: auto;
  width: 100%;
  padding: 2em 0;
  background-color: #F7F7F7;
}

.tweet {
  margin-left: 20em;
  padding: 2em;
  border-style: solid;
  border-width: 1px;
  margin: 1em;
  border-radius: 5px;
  border-color: #ddd;
  max-width: 60%;
}
