/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h5 {
  margin: 0;
}


.march_image {
  background-image: url('http://imgur.com/xlgDJrY.jpg');
  height: 400px;
  z-index: 30;
  position: fixed;
  width: 100%;
}

.march_image h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
  text-transform: capitalize;
  padding-top: 1em;
  margin-left: 7em;
  position: fixed;
  z-index: 1;
}

.march_image h5 {
  font-size: 11px;
  color: #fff;
  text-transform: capitalize;
  top: 10em;
  margin-left: 45em;
  position: fixed;
  z-index: 1;
}

.search-label h5 {
  margin-left: 25em;
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.5px;
  float: left;
  max-width: 30%;
  text-transform: uppercase;
}

.form-group {
  background-color: #eee;
  padding: 1em;
  height: 2em;
  z-index: 10;
  position: fixed;
  width: 100%;
  margin-top: 400px;
}




.aa-input-container {
  display: inline-block;
  position: relative;
  float: left;
  max-width: 30%;
  z-index: 1;
}

.aa-input-search {
  width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 12px 28px 12px 12px;
  margin-left: 10em;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aa-input-search::-webkit-search-decoration,
.aa-input-search::-webkit-search-cancel-button,
.aa-input-search::-webkit-search-results-button,
.aa-input-search::-webkit-search-results-decoration {
  display: none;
}

.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: -20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4;
}

.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}





#tweets {
  min-height: 300px;
  height: auto;
  width: 100%;
  padding: 470px 0 2em 0;
  background-color: #F7F7F7;
  text-align: center;
  z-index: 1;
  position: relative;
}

.tweet {
  margin-left: 20em;
  padding: 2em;
  border-style: solid;
  border-width: 1px;
  margin: 1em;
  border-radius: 5px;
  border-color: #ddd;
  width: 60%;
  display: inline-block;
}
